---
interface Props {
    idTab: number;
    imgUrlSm: string;
    imgUrlMd: string;
    descripcion: string;
    title: string;
    url: string;
}

const { idTab, imgUrlSm, imgUrlMd, title, descripcion, url } = Astro.props;
---

<section
    class=`tabs__item shadow ${idTab === 1 ? 'active' : ''}`
    id=`tab-${idTab}`
>
    <div class="flex flex-col-sm">
        <div class="tabs__img w-full">
            <picture>
                <source srcset={imgUrlMd} media="(min-width:530px)" />
                <img src={imgUrlSm} alt="" class="w-full" />
            </picture>
        </div>
        <div class="tabs__content">
            <h4>{title}</h4>
            <p>
                {descripcion}
            </p>
            <a
                href={url}
                class="btn btn-primary inline-flex items-center inline-block"
            >
                <span>Más información</span>
                <svg
                    class="w-3.5 h-3.5 ml-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
            </a>
        </div>
    </div>
</section>
