---
import HeaderSections from "../HeaderSections.astro";
import CardTourPopular from "../CardTourPopular.astro";

import dataTours from "../../data/tours.json";
---

<section class="tours">
  <div class="container">
    <HeaderSections
      title="Tours más populares"
      subtitle="Viaja lo más lejos, encuéntrate a tí mismo"
      isTitleFirst={false}
    />
    <div class="grid mt-1 justify-center">
      {
        dataTours
          .filter((tour) => tour.isPopular === true)
          .map((tour) => {
            return (
              <CardTourPopular
                id={tour.id}
                imgUrl={tour.imgUrl}
                country={tour.country}
                valoration={tour.valoration}
                days={tour.days}
                typeTour={tour.typeTour}
                age={tour.age}
                price={tour.price}
                description={tour.description}
                url={tour.url}
              />
            );
          })
      }
    </div>
    <a  href='/servicios/paquetes-turisticos' class='btn btn-primary--yellow inline-flex justify-center'>Ver todos los paquetes turísticos</a>

  </div>
</section>
