---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import dataTours from "../../data/tours.json";
import CardDetails from "../../components/tour/CardDetails.astro";

const { slug } = Astro.params;

export const getStaticPaths = (() => {
    return [
        { params: { slug: "zurich-suiza" } },
        { params: { slug: "playa-brittany-canoe-madagascar" } },
        { params: { slug: "venecia-hermoso-gran-canal-italia" } },
    ];
}) satisfies GetStaticPaths;

const tour = dataTours.filter((tour) => tour.url.includes(slug))[0];
const title = `Tour ${tour.country}  | Sorto's Travel Multiservices`;
---

<Layout title={title}>
    <section class="tour relative">
        <header
            class="relative text-center"
            style=`background-image: url(${tour.imgBg});`
        >
            <div class="gradient"></div>
            <div class="container relative">
                <h1 transition:name={`title-tour-${tour.id}`}>
                    {tour.country}
                </h1>
                <p transition:name={`description-tour-${tour.id}`}>
                    {tour.description}
                </p>
            </div>
        </header>
        <section class="container">
            <div class="flex">
                <article class="flex-grow w-full">
                    <div class="tour__buttons">
                        <nav>
                            <ul
                                class="grid text-center justify-center"
                                id="tabs"
                            >
                                <li>
                                    <button
                                        class="btn btn-secondary active block w-full"
                                        data-tab="1"
                                    >
                                        <span class="uppercase">Detalles</span>
                                    </button>
                                </li>
                                <li>
                                    <button
                                        class="btn btn-secondary block w-full"
                                        data-tab="2"
                                    >
                                        <span class="uppercase">Itinerario</span
                                        ></button
                                    >
                                </li>
                                <li>
                                    <button
                                        class="btn btn-secondary block w-full"
                                        data-tab="3"
                                    >
                                        <span class="uppercase">Mapa</span>
                                    </button>
                                </li>
                                <li>
                                    <button
                                        class="btn btn-secondary block w-full"
                                        data-tab="4"
                                    >
                                        <span class="uppercase">Fotos</span
                                        ></button
                                    >
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="tour__tabs flex">
                        <div class="tab__item active" id="tab-1">
                            <h2>Detalles del tour</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quasi dolores deleniti nihil
                                voluptatum necessitatibus.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Enim laudantium sequi omnis
                                provident quia, culpa ducimus cum obcaecati!
                            </p>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Quam, quis illo? Magni
                                delectus quas officia magnam vitae? Dolores quae
                                totam eveniet voluptas recusandae facere quo.
                                Quae magnam pariatur doloremque aspernatur.
                            </p>

                            <h2>Lugar de salida y regreso</h2>
                            <ul>
                                <li>
                                    JFK - Aeropuerto Internacional John F.
                                    Kennedy
                                </li>
                            </ul>

                            <h2>El tour incluye</h2>
                            <ul>
                                <li>Alojamiento en hoteles</li>
                                <li>Traslado desde el aeropuerto</li>
                                <li>Todas las travesías en la pista</li>
                                <li>Traslado de equipaje entre hoteles</li>
                                <li>Todos los desayunos y cenas</li>
                            </ul>

                            <h2>No incluido</h2>
                            <ul>
                                <li>Boletos de avión</li>
                                <li>Comidas no especificadas en el programa</li>
                                <li>
                                    Actividades complementarias (ejemplo: Kayak,
                                    parapente)
                                </li>
                                <li>Entradas</li>
                            </ul>

                            <h2>Complementario</h2>
                            <ul>
                                <li>Botas de lluvia</li>
                                <li>Astículos de higiene personal</li>
                                <li>Zapatos cómodos de trekking</li>
                                <li>Muchas frutas y mariscos</li>
                            </ul>
                        </div>
                        <div class="tab__item" id="tab-2">
                            <h2>Detalles del tour 2</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quasi dolores deleniti nihil
                                voluptatum necessitatibus.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Enim laudantium sequi omnis
                                provident quia, culpa ducimus cum obcaecati!
                            </p>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Quam, quis illo? Magni
                                delectus quas officia magnam vitae? Dolores quae
                                totam eveniet voluptas recusandae facere quo.
                                Quae magnam pariatur doloremque aspernatur.
                            </p>

                            <h2>Lugar de salida y regreso</h2>
                            <ul>
                                <li>
                                    JFK - Aeropuerto Internacional John F.
                                    Kennedy
                                </li>
                            </ul>

                            <h2>El tour incluye</h2>
                            <ul>
                                <li>Alojamiento en hoteles</li>
                                <li>Traslado desde el aeropuerto</li>
                                <li>Todas las travesías en la pista</li>
                                <li>Traslado de equipaje entre hoteles</li>
                                <li>Todos los desayunos y cenas</li>
                            </ul>

                            <h2>No incluido</h2>
                            <ul>
                                <li>Boletos de avión</li>
                                <li>Comidas no especificadas en el programa</li>
                                <li>
                                    Actividades complementarias (ejemplo: Kayak,
                                    parapente)
                                </li>
                                <li>Entradas</li>
                            </ul>

                            <h2>Complementario</h2>
                            <ul>
                                <li>Botas de lluvia</li>
                                <li>Astículos de higiene personal</li>
                                <li>Zapatos cómodos de trekking</li>
                                <li>Muchas frutas y mariscos</li>
                            </ul>
                        </div>
                        <div class="tab__item" id="tab-3">
                            <h2>Detalles del tour 3</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quasi dolores deleniti nihil
                                voluptatum necessitatibus.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Enim laudantium sequi omnis
                                provident quia, culpa ducimus cum obcaecati!
                            </p>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Quam, quis illo? Magni
                                delectus quas officia magnam vitae? Dolores quae
                                totam eveniet voluptas recusandae facere quo.
                                Quae magnam pariatur doloremque aspernatur.
                            </p>

                            <h2>Lugar de salida y regreso</h2>
                            <ul>
                                <li>
                                    JFK - Aeropuerto Internacional John F.
                                    Kennedy
                                </li>
                            </ul>

                            <h2>El tour incluye</h2>
                            <ul>
                                <li>Alojamiento en hoteles</li>
                                <li>Traslado desde el aeropuerto</li>
                                <li>Todas las travesías en la pista</li>
                                <li>Traslado de equipaje entre hoteles</li>
                                <li>Todos los desayunos y cenas</li>
                            </ul>

                            <h2>No incluido</h2>
                            <ul>
                                <li>Boletos de avión</li>
                                <li>Comidas no especificadas en el programa</li>
                                <li>
                                    Actividades complementarias (ejemplo: Kayak,
                                    parapente)
                                </li>
                                <li>Entradas</li>
                            </ul>

                            <h2>Complementario</h2>
                            <ul>
                                <li>Botas de lluvia</li>
                                <li>Astículos de higiene personal</li>
                                <li>Zapatos cómodos de trekking</li>
                                <li>Muchas frutas y mariscos</li>
                            </ul>
                        </div>
                        <div class="tab__item" id="tab-4">
                            <h2>Detalles del tour 4</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quasi dolores deleniti nihil
                                voluptatum necessitatibus.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Enim laudantium sequi omnis
                                provident quia, culpa ducimus cum obcaecati!
                            </p>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Quam, quis illo? Magni
                                delectus quas officia magnam vitae? Dolores quae
                                totam eveniet voluptas recusandae facere quo.
                                Quae magnam pariatur doloremque aspernatur.
                            </p>

                            <h2>Lugar de salida y regreso</h2>
                            <ul>
                                <li>
                                    JFK - Aeropuerto Internacional John F.
                                    Kennedy
                                </li>
                            </ul>

                            <h2>El tour incluye</h2>
                            <ul>
                                <li>Alojamiento en hoteles</li>
                                <li>Traslado desde el aeropuerto</li>
                                <li>Todas las travesías en la pista</li>
                                <li>Traslado de equipaje entre hoteles</li>
                                <li>Todos los desayunos y cenas</li>
                            </ul>

                            <h2>No incluido</h2>
                            <ul>
                                <li>Boletos de avión</li>
                                <li>Comidas no especificadas en el programa</li>
                                <li>
                                    Actividades complementarias (ejemplo: Kayak,
                                    parapente)
                                </li>
                                <li>Entradas</li>
                            </ul>

                            <h2>Complementario</h2>
                            <ul>
                                <li>Botas de lluvia</li>
                                <li>Astículos de higiene personal</li>
                                <li>Zapatos cómodos de trekking</li>
                                <li>Muchas frutas y mariscos</li>
                            </ul>
                        </div>
                    </div>
                </article>
                <CardDetails
                    id={tour.id}
                    typeTour={tour.typeTour}
                    description={tour.description}
                    price={tour.price}
                    oldPrice={tour.oldPrice}
                />
            </div>
        </section>
    </section>
</Layout>
